*{
    background-color: rgb(239,239,238);
   
    
}
.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 50px ;
    text-align:center;
    margin-top:50px;
    margin-bottom:20px;
    text-decoration:underline;
}
.review {
    background-color:  rgb(88, 88, 88); 
    border: 3px solid white;
    border-radius: 15px;      
    padding: 20px;            
    width: 600px;  
    height:400px;       
    margin: 20px auto;         
    
}
.text-box{
    width: 550px;          
    height: 300px;         
    padding: 10px;         
    border: 2px dashed, green;
    border-radius: 8px;   
    font-size: 16px, black; 
    
}
.submit-button{
    background-color: #246026; 
    color: white;            
    padding: 20px 20px;        
    border-radius: 5px;             
    border-radius: 5px;        
    font-size: 25px;        
    margin-top: 10px;         
    display: block;           
    width: 550px; 
}
.submit-button:hover{
    background-color: white;
    color:black;
}