.h1{
    color:antiquewhite;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size:100px;
    margin-top:50px;

}
*{
    background-color: rgb(122,137,95);
}
.h2{
    color:antiquewhite;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height:100px;
    width:500px;
    margin-left:400px;
    margin-top:75px;
    border-width:6px;
    border-style:dashed;
    border-color: rgb(51,35,13);
    border-radius:20px;
    padding-top:60px;
    
    
   

}