
*{
    background-color: rgb(88, 88, 88);
}
.h1{
    color:white;
    background-color:rgb(41, 41, 41);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size:100px;
    margin-top:50px;
}
.h2{
    color:white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height:100px;
    width:450px;
    margin-left:510px;
    font-size: 50px;
}
.h3{
    color:white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:25px;
    margin-top:150px;
}
.button{
    color:white;
    background-color:rgb(41, 41, 41); 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:25px;
    margin-left: 700px;
    width:100px;
    height:50px;
    border-radius: 10%;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover{
     transition: scale(1.2);
     
}