.h1{
    color:antiquewhite;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large;
    margin-top:50px;

}
*{
    background-color: rgb(122,137,95);
}