*{
    background-color: rgb(186, 208, 201);
      font-family:'Times New Roman', Times, serif
  }
  input{
      color:rgb(64, 90, 79);
      font-size: large;
      border: none;
      text-align: center;
  }
  h1{
      font-size: 50px;
      padding: 10px;
  }
  .box {
      width: 450px; 
      height: 300px; 
      background-color: rgb(115, 143, 131); 
      margin: 70px;
      display: flex;
      justify-content: center;
      align-items: justify;
      text-align: center;
    }
    .container {
      display: flex;
      justify-content: space-between;
    }
    .container2 {
      display: flex;
      justify-content: space-between;
    }
  .container3 {
          display: flex;
          justify-content: space-between;
    }
    .container4 {
        display: flex;
        justify-content: space-between;
  }
  .container5 {
    display: flex;
    justify-content: space-between;
}
.container6 {
    display: flex;
    justify-content: space-between;
}
    .box:hover {
      transform: scale(1.1);
    }

    button {
      padding: 10px 20px;
      background-color: #3e4042;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;}