
*{
    background-color: rgb(122,137,95);
}
.h1{
    color:antiquewhite;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size:100px;
    margin-top:50px;
}

.h2{
    color:antiquewhite;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height:100px;
    width:400px;
    margin-left:400px;
    margin-top:75px;
    border-width:6px;
    border-style:dashed;
    border-color: rgb(86, 57, 17);
    border-radius:20px;
    padding-top:60px;
}


.h3{
    color:antiquewhite;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:25px;
    margin-top:80px;
}
.button{
    background-color: rgb(0, 255, 47);
    color:white;
    margin-left: 620px;
    width:70px;
    height:50px;
}